.title {
    text-align: center;
}

.licensing {
    gap: 40px;
    display: flex;
    justify-content: center;

    h3 {
        display: flex;

        > img {
            margin-top: 6px;
            margin-right: 8px;
        }
    }

    // Columns
    > div {
        gap: 16px;
        display: flex;
        flex-direction: column;

        // Entries
        > div {
            p {
                margin-left: 48px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .licensing {
        gap: unset;
        flex-direction: column;

        > div {
            gap: 20px;
            
            > div p {
                margin-left: 40px;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .cc {
        width: 200px;
    }
}
