.title {
    text-align: center;
}

.licensing {
    display: flex;

    // Columns
    > div {
        gap: 16px;
        display: flex;
        flex-direction: column;

        // Entries
        > div {
            p {
                margin-left: 48px;
            }
        }
    }
}
