.overlay {
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    pointer-events: none;

    display: flex;

    .whitespace {
        flex: 5;
    }

    .image {
        flex: 8;
        display: grid;
        place-items: center;

        img {
            width: 100%;
            padding: 8em;
            height: 100%;
            object-fit: scale-down;
            max-height: 100vh;
        }
    }
}

.main {
    h1 {
        line-height: unset;
    }

    &.top {
        flex: 7;
        display: flex;
        flex-direction: column;
        background: var(--purple);
        justify-content: space-between;
    }

    &.bottom {
        flex: 6;
        background: var(--turquoise);
    }

    .text {
        display: flex;

        > * {
            flex: 1;
        }

        > :first-child {
            display: flex;
            justify-content: center;
        }

        .breakout {
            position: relative;

            h1 {
                position: absolute;
                margin-top: -1.4em;
            }
        }
    }
}

.menu {
    display: flex;
    justify-content: center;
}

.backRef {
    font-size: 22px;

    > img {
        margin-right: 8px;
    }
}

@media screen and (max-width: 1000px) {
    .overlay {
        display: none;
    }

    .main .text {
        padding: 0 12px;
        display: block;
    }
}
