.button {
    padding: 14px 20px;
    width: fit-content;
    border-radius: 12px;
    font-size: 24px;
    cursor: pointer;

    &[data-style="purple"] {
        background: var(--purple);
        --shadow: var(--purpledark);
    }

    &[data-style="turquoise"] {
        background: var(--turquoise);
        --shadow: var(--turquoisedark);
    }

    box-shadow: 0px 8px var(--shadow);

    > img {
        margin-left: 8px;
    }

    &:active {
        transform: translateY(4px);
        box-shadow: 0px 4px var(--shadow);
    }
}

@media screen and (max-width: 1050px) {
    .button {
        padding: 10px 12px;
        font-size: 18px;
    }
}
