.footer {
    display: flex;
    padding: 3rem;
    font-size: 20px;
    user-select: none;
    align-items: center;
    flex-direction: column;

    &:not([data-light="true"]) {
        color: white;
        background: var(--gray);
    }

    &[data-light="true"] {
        .revolt {
            filter: invert(1);
        }
    }

    .revolt {
        height: 15px;
    }

    .link {
        color: var(--purple);
    }

    p {
        color: gray;
        font-size: 16px;
        text-align: center;
        width: unset;
        margin-bottom: 0;
    }

    .links {
        color: darkgray;
        margin-bottom: 1rem;
    }
}
