.hero {
    color: white;

    [data-invert="true"] {
        color: black;
    }

    display: flex;
    min-height: 50vh;
    user-select: none;

    > * {
        flex: 1;
    }

    &[data-full="true"] {
        min-height: 100vh;
    }

    &[data-column="true"] {
        flex-direction: column;
    }

    &:not([data-column="true"]) {
        align-items: center;
    }

    &[data-pad="true"] {
        padding: 0 4rem;
    }
}
