.hero {
    color: white;

    [data-invert="true"] {
        color: black;
        margin-bottom: 50px;
    }

    display: flex;
    min-height: 500px;
    user-select: none;

    h1 {
        font-size: 64px;
        line-height: 70px;
    }

    p {
        font-size: 20px;
        margin-bottom: 40px;
        max-width: 418px;
    }

    > * {
        flex: 1;
    }

    &[data-full="true"] {
        min-height: 100vh;
    }

    &[data-column="true"] {
        flex-direction: column;
    }

    &:not([data-column="true"]) {
        align-items: center;
    }

    &[data-pad="true"] {
        padding: 6rem 4rem;
    }
}

.clamp {
    .hero {
        margin: auto;
        max-width: 1500px;
    }
}
