.hero {
    color: white;

    [data-invert="true"] {
        color: black;
        margin-bottom: 50px;
    }

    display: flex;
    min-height: 480px;
    user-select: none;

    h1 {
        font-size: 70px;
        line-height: 70px;
    }

    > * {
        flex: 1;
    }

    &[data-full="true"] {
        min-height: 100vh;
    }

    &[data-column="true"] {
        flex-direction: column;
    }

    &:not([data-column="true"]) {
        align-items: center;
    }

    &[data-pad="true"] {
        padding: 0 4rem;
    }
}

.clamp {
    .hero {
        margin: auto;
        max-width: 1500px;
    }
}
