.post {
    margin: auto;
    padding: 1rem;
    font-weight: 400;
    max-width: 720px;

    img.header {
        max-width: 100%;
        margin: 1rem 0;
        border-radius: 5px;
    }

    h1, h2, h3 {
        margin: 0.4rem 0;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }
}
