.list {
    font-size: 1.8em;

    a {
        display: block;
    }

    b {
        color: white;
        font-size: 0.6em;
        background: black;
        vertical-align: 0.2em;
        padding: 0.2em;
    }
}
