.version {
    color: gray;
}

.category {
    margin: 4em 0;

    h4 {
        margin: 0;
        font-size: 2em;
        width: fit-content;
        padding-bottom: 2px;
        margin-bottom: 1rem;
        text-transform: capitalize;
        border-bottom: 4px solid white;
    }

    div {
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
    }
}
