.overlay {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;

    display: flex;

    .whitespace {
        flex: 5;
    }

    .image {
        flex: 8;
        display: grid;
        place-items: center;

        img {
            width: 100%;
            padding: 8em;
            height: 100%;
            object-fit: scale-down;
        }
    }
}

.main {
    &.top {
        flex: 7;
        display: flex;
        flex-direction: column;
        background: var(--purple);
        justify-content: space-between;
    }

    &.bottom {
        flex: 6;
        background: var(--turquoise);
    }

    .text {
        display: flex;

        > * {
            flex: 1;
        }

        > :first-child {
            display: flex;
            justify-content: center;
        }

        .breakout {
            position: relative;

            h1 {
                position: absolute;
                margin-top: -1.4em;
            }
        }
    }
}

.navbar {
    height: 180px;
    display: flex;
    padding: 4rem;
    align-items: center;
    justify-content: space-between;

    .logo {
        img {
            height: 50px;
        }
    }
}

.backRef {
    font-size: 22px;

    > img {
        margin-right: 8px;
    }
}